*,*:before, *:after {
  box-sizing: border-box;
  outline: none;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 36px 34px 263px 34px;
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  min-width: 400px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
